@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: openSans;
    src: url("./assets/fonts/OpenSans-Regular.ttf");
}

:root {
    --primary-bg: #373737;
    --primary-bg-2: #272727;
    --primary-blue: #4285F4;
}

* {
    transition: all .3s;
    font-family: openSans;
}

body {
    background: var(--primary-bg);
    color: white;
}

.container {
    padding: 32px 16px;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.baseBtn {
    padding: 12px 24px;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
}

.cancelBtn {
    background: white;
    color: var(--primary-blue);
    margin-bottom: 16px;
}

.cancelBtn:hover {
    background: var(--primary-blue);
    color: white;
}

.acceptBtn {
    background: var(--primary-blue);
    color: black;
}

.acceptBtn:hover {
    background: black;
    color: var(--primary-blue);
}

.react-calendar__navigation {
    display: flex !important;
    align-items: center;
    margin-bottom: 20px;
}

.react-calendar__navigation__next-button {
    margin-right: 16px;
}

.react-calendar__navigation__prev-button {
    margin-left: 16px;
}